@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root,
.App {
  height: 100vh;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url(./static/fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url(./static/fonts/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url(./static/fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url(./static/fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url(./static/fonts/Montserrat-ExtraBold.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Black"),
    url(./static/fonts/Montserrat-Black.ttf) format("truetype");
  font-weight: 900;
}
